# Development files
/specs               export-ignore
/tests              export-ignore
/CLAUDE.md          export-ignore
.env                export-ignore
app.json            export-ignore
nanocore.log        export-ignore

# IDE / Editor config
.vscode             export-ignore
.prettierrc         export-ignore
